     <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4">
                    <p>I studied applied engineering and got my <b>Master in Science</b> degree in 2013.
                       Today I am a Web developer working for <b><a href="http://mwl.be">madewithlove</a></b>.
                       I try to practise my speaking skills at meetups and conferences because I believe prepping a
                       <b><a href="https://speakerdeck.com/hannesvdvreken">slide deck</a></b> is the best
                       way to thoroughly get to know a subject.
                    </p>
                </div>
                <div class="col-lg-4">
                    <p>
                        Besides work I love to organise <b>meetups and conferences</b>. I organise meet-ups for MongoDB and
                        grew a community of 300 members so far. I also organised an occasional LaravelPHP summer meetup in July 2014.
                        In the past I have created <a href="http://ghendetta.be">Ghendetta</a> together with some friends.
                        I also love to <b>contribute to open source projects</b> in PHP and a little bit of Node.js.
                    </p>
                </div>
                <div class="col-lg-4">
                    <p>
                        In the rest of my free time I like to spend with friends and family to eat and drink beers. To
                        keep in shape I like to do sports: wall/rock climbing and
                        <b><a href="https://www.runtastic.com/en/users/hannes-van-de-vreken">marathon running</a></b>.
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="https://github.com/hannesvdvreken" class="btn btn-lg btn-outline">
                        <i class="fa fa-github"></i>&nbsp;&nbsp;Go to my Github profile
                    </a>
                </div>
            </div>
        </div>
    </section>