    <!-- Contact Section -->
    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Contact Me</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>
                        My slide decks are all on <a href="https://speakerdeck.com/hannesvdvreken">speakerdeck.com</a>.
                        My github profile can be found <a href="https://github.com/hannesvdvreken">here</a> and
                        you can find me on twitter as <a href="https://twitter.com/hannesvdvreken">@hannesvdvreken</a>.
                        If needed I am also on IRC (freenode) as "hannesvdvreken".
                    </p>
                </div>
                <div class="col-lg-4">
                    <p>If you need to contact me privately you can email me at
                        <a href="mailto:vandevreken.hannes@gmail.com">
                            vandevreken.hannes@gmail.com
                        <a>
                    </p>
                </div>
            </div>
        </div>
    </section>